
/* font */
.font {
  font-family: "Comic Sans MS", "Comic Sans";
  }

/* header */
.headerText { 
  background-color:rgb(0, 0, 0);
  color:rgb(28, 95, 187);
  padding:3px 3px;
  margin:5px 5px;
  text-align:center;
  border-style:dotted;
  font-size:15px;
}


/* img button - figure out FIXX MEEE */
.menuButton { 
  background-image: url(images/menu.png);
  cursor:pointer;
  width:100px;
  length:100px;
}

.float { 
  float:left; 
}

  /* body edits */ 
body { 
  color: rgb(0, 0, 0);
  background-color:rgb(132, 179, 245);
  text-align: left;
}

.myQu { 
  background-color: rgb(61, 122, 208);
  color: black;
  font-size:18px;
  padding:15px 15px;
  margin:15px 5px;
}

/* box with images */
.imgStyle { 
  background-color: rgb(73, 134, 219);
  font-size:18px;
  padding:15px 15px;
  margin:15px 5px;
}

.myCode {
  background-color: rgb(86, 145, 227);
  color: black;
  font-size:18px;
  padding:15px 15px;
  margin:15px 5px;
}

/* buttons */
.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.menu { 
  font-size: 30px;
}

.button { 
  background-color: rgb(255, 142, 200);
  border: 1.5px rgb(200, 120, 162);
  color:rgb(0, 0, 0);
  text-align:center;
  font-size: 35px;
  font-family: "Comic Sans MS", "Comic Sans";
  padding: 13px 26px;
  cursor: pointer;
  width:200px;
}

.button:hover { 
  background-color:rgb(248, 179, 214);
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* three images */ 
.thColumns {
  column-count:3;
}

/* four columns */
.frColumns { 
  column-count: 4;
}


