
/* font */
.font {
    font-family: "Comic Sans MS", "Comic Sans";
  }

/* header */
.headerText { 
    background-color:rgb(0, 0, 0);
    color:rgb(121, 130, 231);
    padding:3px 3px;
    margin:5px 5px;
    text-align:center;
    border-style:dotted;
    font-size:15px;
}

  /* body edits */ 
  body { 
    color: rgb(0, 0, 0); 
    background-color:rgb(132, 179, 245);
    text-align: left;
}

.myQu { 
  background-color: rgb(66, 121, 197);
  color: black;
  font-size:18px;
  padding:15px 15px;
  margin:15px 5px;
}

   .myCode {
  background-color: rgb(86, 145, 227);
  color: black;
  font-size:18px;
  padding:15px 15px;
  margin:15px 5px;
}


