
/* font */ 
.font {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


/* body edits */ 
body { 
    color: rgb(227, 225, 250); 
    background-color:rgb(15, 47, 93)  ;
}

.content p { 
    color: rgb(160, 245, 150);
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* h1 center together with dotted border not working*/ 
h1.dotted { 
    border-style:dotted;
    width: 475px;
}


#rcorners1 {
    border-radius: 15px 50px;
    background: #f188c5;
    padding: 15px; 
    width: 185px;
    height: 35px;
}

.center {
    text-align: center;
}

/* img1 - sporky
makes the hover text thingy */
.container {
    position: relative;
    width: 50%;
  }


  .image {
    display: block;
    width: 450px;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7ed2ef;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.6;
  }
  
  .container:hover .overlay {
    width: 450px;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

    /* button */ 
    .button1 {
      transition-duration: 0.4s;
    }
    .button1:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    } 





