body { 
    color: rgb(98, 234, 225); 
}

.content p { 
    color: rgb(160, 245, 150);
}

h1.dotted { 
    border-style:dotted;
    width: 530px; 

}

#rcorners1 {
    border-radius: 15px 50px;
    background: #f188c5;
    padding: 20px; 
    width: 185px;
    height: 64px;
}